<form class="addproduct__form" {{#if isAddProductPage}}action="/admin/add-product"{{else}}action="/admin/edit-product"{{/if}} method="POST">
  <input class="addproduct__id" type="text" name="_id" {{#if productExist}}value="{{product._id}}"{{/if}}/>
  <div class="addproduct__form-entry">
    <label for="title">Title</label>
    <input class="addproduct__title" type="text" name="title" {{#if productExist}}value="{{product.title}}"{{/if}}/>
  </div>
  <div class="addproduct__form-entry">
    <label for="imageUrl">Image</label>
    <input class="addproduct__image" type="text" name="imageUrl" {{#if productExist}}value="{{product.imageUrl}}"{{/if}}/>
  </div>
  <div class="addproduct__form-entry">
    <label for="price">Price</label>
    <input class="addproduct__price" type="number" step="0.01" name="price" {{#if productExist}}value="{{product.price}}"{{/if}}/>
  </div>
  <div class="addproduct__form-entry">
    <label for="description">Description</label>
    <textarea class="addproduct__description" name="description" id="" rows="5">{{#if productExist}}{{product.description}}{{/if}}</textarea>
  </div>
  <button class="addproduct__form-submit" type="submit">{{#if isAddProductPage}}Add Product{{else}}Save{{/if}}</button>
</form>