<div class="cardgrid">
  {{#if products}}
    {{#each products}}
        <div class="card">
            <h1 class="card__header">{{this.title}}</h1>
            <img class="card__image" src="{{this.imageUrl}}" alt="" />
            <h2 class="card__price">£{{this.price}}</h2>
            <p class="card__description">{{this.description}}</p>
            <a class="card__button" href="/product-detail/{{this.id}}">Details</a>
                {{#if ../isAdminProductListPage}}
                    <div class="card__admin-controls">
                        <form action="edit-product" method="GET">
                            <input name="id" value="{{this.id}}" />
                            <button class="card__button" type="submit">Edit</button>
                        </form>
                        <form action="delete-product" method="POST">
                            <input name="id" value="{{this.id}}" />
                            <button class="card__button" type="submit">Delete</button>
                        </form>      
                    </div>
                {{/if}}
                {{#if ../isShopPage}}
                    {{> add-to-cart this}}
                {{/if}}
        </div>
    {{/each}}
  {{else}}
    <h1>No Products Found</h1>
  {{/if}}
</div>